<!DOCTYPE html>
<html>
<head>
	<title>welcome | resnwm | 2016</title>
	<% include partials/head %>
</head>
<body class="container">
	<header id="header" class="">
		<% include partials/header %>
	</header><!-- /header -->
	<main class="row">
		<div class="full column">
			<h1 class="text-center">ResNWm</h1>
			<p class="text-center">It gives me great pleasure to welcome you to the online LOOP picture/photograph resizing and watermarking application.<br />This application was designed with love and care by <a href="mailto:sylver.yagi@digicelgroup.com?subject=feedback" "email me">Sylver Yagi</a>. Do get in touch with me for more info.</p>
		</div>
		<div class="container">
			<form action="/api/upload" method="POST" enctype="multipart/form-data">
				<div class="row">
					<div class="two-thirds column">
						<label for="fileInput">Upload File</label>
						<input id="fileInput" type="file" name="image" required />
					</div>
					<div class="one-third column">
						<input type="submit" name="uploadImage" class="button-primary" value="UPLOAD"/>
					</div>
				</div>
			</form>
		</div>
	</main>
	<footer>
		<% include partials/footer %>
	</footer>
</body>
</html>